<div th:fragment="header">
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto" style="margin-left: 5">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/">Оборудование</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/Equipment/add">Добавить</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Отчеты</a>
    </nav>
</div>
</div>